{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ block.id }}-padding {
    padding-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ block.id }}-padding {
      padding-top: {{ block.settings.padding_top }}px;
      padding-bottom: {{ block.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign title = 'BEHIND THE KIT' %}

{% assign text = article.metafields.global.affiliation %}

{% if video_url != blank %}
  
{% comment %} First of all, we get last part of the URL that's supposedly the Youtube Video ID {% endcomment %}
{% assign video_id = video_url | split: '/' | last %}
{% comment %} Finally, remove any hash string {% endcomment %}
{% assign video_id = video_id | split: '?v=' | last | replace: ' ', '' | split: '&' | first %}
{% assign image = 'https://img.youtube.com/vi/' | append: video_id | append: '/hqdefault.jpg' %}
<div class="color-{{ block.settings.color_scheme }} gradient">
  <div class="video-section isolate{% unless block.settings.full_width %} page-width page-width--narrow{% endunless %} section-{{ block.id }}-padding">
    <div
      {% if block.settings.full_width %}
        class="page-width page-width--narrow"
      {% endif %}
    >
      {%- unless block.settings.heading == blank -%}
        <div class="title-wrapper title-wrapper--no-top-margin">
          <h2 class="title center {{ block.settings.heading_size }}">{{ title }}</h2>
        </div>
      {%- endunless -%}
    </div>
    <noscript>
      <div
        class="video-section__media"
        {% if image != blank %}
          style="padding-bottom: 56.2%;"
        {% endif %}
      >
        <a
          href="{{ video_url }}"
          class="video-section__poster media media--transparent media--landscape{% if image == blank %} video-section__placeholder{% endif %}"
        >
          {%- if image != blank -%}
            {%- capture sizes -%}
              {% if block.settings.full_width -%}
                100vw
              {%- else -%}
                (min-width: {{ settings.page_width }}px) 2048px, (min-width: 750px)
                calc(100vw - 10rem), 100vw
              {%- endif %}
            {%- endcapture -%}
            {%- assign alt = 'sections.video.load_video' | t: description: block.settings.description | escape -%}
            <img src="{{image}}" loading="lazy" alt="{{article.title}} video">
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
        </a>
      </div>
    </noscript>
    <deferred-media
      class="video-section__media deferred-media no-js-hidden gradient global-media-settings{% if block.settings.full_width %} global-media-settings--full-width{% endif %}"
      data-media-id="{{ video_id }}"
      {% if image != blank %}
        style="padding-bottom: 56.2%;"
      {% endif %}
    >
      <button
        id="Deferred-Poster-Modal-{{ video_id }}"
        class="video-section__poster media deferred-media__poster media--landscape"
        type="button"
        aria-label="{{ 'sections.video.load_video' | t: description: block.settings.description | escape }}"
      >
        {%- if image != blank -%}
          {%- capture sizes -%}
            {% if block.settings.full_width -%}
              100vw
            {%- else -%}
              (min-width: {{ settings.page_width }}px) 2048px, (min-width: 750px)
              calc(100vw - 10rem), 100vw
            {%- endif %}
          {%- endcapture -%}
          {%- assign alt = 'sections.video.load_video' | t: description: block.settings.description | escape -%}
          <img src="{{image}}" loading="lazy" alt="{{alt}}">
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        <span class="deferred-media__poster-button motion-reduce">
          {%- render 'icon-play' -%}
        </span>
      </button>
      <template>
        <iframe
            src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1"
            class="js-youtube"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ block.settings.description | escape }}"
          ></iframe>
      </template>
    </deferred-media>
    <div class="text">
      <h3>{{text}}</h3>
    </div>
  </div>
</div>
{% endif %}
