{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{% comment %} First of all, we get last part of the URL that's supposedly the Youtube Video ID {% endcomment %}
{% assign video_id = product.metafields.global.image_with_text_section_2.value.video_link | split: '/' | last %}

{% comment %} but we need strip any extra URL params {% endcomment %}
{% assign video_id = video_id | split: '?' | last %}

{% comment %} Finally, remove any hash string {% endcomment %}
{% assign video_id = video_id | split: '=' | last %}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="video-section isolate">
    <noscript>
      <div
        class="video-section__media"
        {% if product.metafields.global.image_with_text_section_2.value.image != blank %}
          style="padding-bottom: {{ 1 | divided_by: product.metafields.global.image_with_text_section_2.value.image.aspect_ratio | times: 100 }}%;"
        {% endif %}
      >
        <a
          href="{{ product.metafields.global.image_with_text_section_2.value.video_link }}"
          class="video-section__poster media media--transparent media--landscape{% if product.metafields.global.image_with_text_section_2.value.image == blank %} video-section__placeholder{% endif %}"
        >
          {%- if product.metafields.global.image_with_text_section_2.value.image != blank -%}
            {%- capture sizes -%}
              100vw
            {%- endcapture -%}
            {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
            {{
              product.metafields.global.image_with_text_section_2.value.image
              | image_url: width: 3840
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                alt: alt
            }}
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
        </a>
      </div>
    </noscript>
    <deferred-media
      class="video-section__media deferred-media no-js-hidden gradient global-media-settings global-media-settings--full-width"
      data-media-id="{{ video_id }}"
      {% if product.metafields.global.image_with_text_section_2.value.image != blank %}
        style="padding-bottom: {{ 1 | divided_by: product.metafields.global.image_with_text_section_2.value.image.aspect_ratio | times: 100 }}%;"
      {% endif %}
    >
      <button
        id="Deferred-Poster-Modal-{{ video_id }}"
        class="video-section__poster media deferred-media__poster media--landscape"
        type="button"
        aria-label="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
      >
        {%- if product.metafields.global.image_with_text_section_2.value.image != blank -%}
          {%- capture sizes -%}
              100vw
          {%- endcapture -%}
          {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
          {{
            product.metafields.global.image_with_text_section_2.value.image
            | image_url: width: 3840
            | image_tag: loading: 'lazy', sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
          }}
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        <span class="deferred-media__poster-button motion-reduce">
          {%- render 'icon-play' -%}
        </span>
      </button>
      <template>
          <iframe
            src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1"
            class="js-youtube"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
      </template>
    </deferred-media>
  </div>
</div>