<product-gallery-component class="thumbs-{{section.settings.gallery_layout}}">
  <div id="mainCarousel" class="splide">
    <div class="splide__track">
      <ul class="product__media-list splide__list " role="list">
        {%- for media in product.media -%}
        {%- unless 
          media.preview_image contains 'hqdefault' 
          or media.preview_image contains 'taper_' 
          or media.preview_image contains 'thumb' 
          or media.preview_image contains 'productspotlight' 
          or media.preview_image contains 'soundlab' 
          or media.preview_image contains 'spotlight' 
          or media.preview_image contains 'thumbnails'
        -%}
        <li class="splide__slide" data-media-id="{{section.id}}-{{ media.id }}" data-index="{{forloop.index0}}">
          {% render 'product-thumbnail',
                media: media,
                media_count: media_count,
                position: media_position,
                desktop_layout: section.settings.gallery_layout,
                mobile_layout: section.settings.mobile_thumbnails,
                loop: section.settings.enable_video_looping,
                modal_id: section.id,
                xr_button: true,
                media_width: media_width,
                media_fit: section.settings.media_fit,
                constrain_to_viewport: section.settings.constrain_to_viewport,
                lazy_load: lazy_load
          %}
        </li>
        {% endunless %}
        {%- endfor -%}
        {% if product.metafields.magento.pdp_video_carousel_link != blank %}
        {% assign video_id = product.metafields.magento.pdp_video_carousel_link | split: '/' | last %}
        {% comment %} but we need strip any extra URL params {% endcomment %}
        {% assign video_id = video_id | split: '?' | last %}

        {% comment %} Finally, remove any hash string {% endcomment %}
        {% assign video_id = video_id | split: '=' | last %}
        <li class="splide__slide">
          <div class="video-content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autostop; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  {%assign media_size = 0 %}
  <div id="thumbsCarousel" class="splide">
    <div class="splide__track">
      <ul class="splide__list" role="list">
        {%- for media in product.media -%}
        {%- unless 
          media.preview_image contains 'hqdefault' 
          or media.preview_image contains 'taper_' 
          or media.preview_image contains 'thumb' 
          or media.preview_image contains 'productspotlight' 
          or media.preview_image contains 'soundlab' 
          or media.preview_image contains 'spotlight' 
          or media.preview_image contains 'thumbnails'
        -%}
        {% assign media_size = media_size | plus: 1 %}
        <li class="splide__slide">
          <div class="product__media media" style="padding-top: 100%;">
            <img
              srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                {% if media.preview_image.width >= 750 %}{{ media.preview_image | img_url: '750x' }} 750w,{% endif %}
                {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
                {% if media.preview_image.width >= 1500 %}{{ media.preview_image | img_url: '1500x' }} 1500w,{% endif %}
                {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
              src="{{ media | img_url: '1500x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
              loading="lazy"
              width="576"
              height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
              alt="{{ media.preview_image.alt | escape }}"
            >
          </div>
        </li>
        {% endunless %}
        {%- endfor -%}
        {% if product.metafields.magento.pdp_video_carousel_link != blank %}
        <li class="splide__slide">
          <div class="video-content">
            <span class="deferred-media__poster-button motion-reduce"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-play" fill="none" viewBox="0 0 10 14">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"></path>
            </svg>
            </span>
            <img src="https://img.youtube.com/vi/{{video_id}}/default.jpg" >
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  
</product-gallery-component>

{%- if first_3d_model -%}
  <button
    class="button button--full-width product__xr-button"
    type="button"
    aria-label="{{ 'products.product.xr_button_label' | t }}"
    data-shopify-xr
    data-shopify-model3d-id="{{ first_3d_model.id }}"
    data-shopify-title="{{ product.title | escape }}"
    data-shopify-xr-hidden
  >
    {% render 'icon-3d-model' %}
    {{ 'products.product.xr_button' | t }}
  </button>
{%- endif -%}
{% if media_size == 1 or media_size == 0 %}
<style>
 #thumbsCarousel{
  display: none !important;
 }
</style>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", ()=>{
    document.querySelector("#thumbsCarousel .splide__list").removeAttribute("aria-orientation");
  })
</script>