<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<div data-section-type="recent-blog" class="blog">
  <div class="page-width isolate">
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper">
        <h2 id="SectionHeading-{{ section.id }}" class="blog__title">
          {{ section.settings.title | escape }}
        </h2>
      </div>
    {%- endunless -%}
    <slider-component class="slider-mobile-gutter">
      <ul
        id="Slider-{{ section.id }}"
        class="blog__posts articles-wrapper contains-card contains-card--article contains-card--standard grid grid--1-col grid--1-col-tablet grid--3-col-desktop slider slider--mobile"
        role="list"
      >
        {%- for r_article in blog.articles limit: 4 -%}
          {% if r_article.id != article.id %}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="blog__post grid__item article slider__slide slider__slide--full-width"
          >
            <div class="article-card">
              <div class="article-card__image-wrapper card__media">
                <div
                  class="article-card__image media media--hover-effect" 
                    style="padding-bottom: 100%;"
                >
                  <a href="{{ r_article.url }}"></a>
                  {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                  <img
                    srcset="
                      {%- if r_article.image.src.width >= 165 -%}{{ r_article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if r_article.image.src.width >= 360 -%}{{ r_article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if r_article.image.src.width >= 533 -%}{{ r_article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if r_article.image.src.width >= 720 -%}{{ r_article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if r_article.image.src.width >= 1000 -%}{{ r_article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                      {%- if r_article.image.src.width >= 1500 -%}{{ r_article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ r_article.image.src | image_url }} {{ r_article.image.src.width }}w
                    "
                    src="{{ r_article.image.src | image_url: width: 533 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ r_article.image.src.alt | escape }}"
                    class="motion-reduce"
                    {% unless lazy_load == false %}
                      loading="lazy"
                    {% endunless %}
                    width="{{ r_article.image.width }}"
                    height="{{ r_article.image.height }}"
                  >
                  {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                </div>
              </div>
              <div class="card__content">
                <div class="card__information">
                  <h3 class="card__heading{% if show_excerpt %} h3{% endif %}">
                    <a href="{{ r_article.url }}" class="full-unstyled-link link animate-arrow">
                      {{ r_article.title | truncate: 50 | escape }}  <span class="icon-wrap">{% render 'icon-arrow' %}</span>
                    </a>
                  </h3>
                  <p>{{r_article.metafields.global.author}}</p>
                </div>
              </div>
            </div>
          </li>
          {% endif %}
        {%- endfor -%}
      </ul>
      {%- if posts_exceed_limit -%}
        <div class="slider-buttons no-js-hidden{% if section.settings.post_limit < 3 %} medium-hide{% endif %}{% if section.settings.post_limit < 2 %} small-hide{% endif %}">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.settings.post_limit }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>
    <!-- <div class="bottom">
      <strong>Photo Credits:</strong>
      <br>
      <strong>Profile, Header, Artist In 3:</strong> I.A Images
    </div> -->
    
  </div>
</div>
