<!-- snippets > yotpo-reviews.liquid -->
	{% if yotpo_widget == 'yotpo-js' %}
		<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/mCZeSZ8K6a4aMK16VZwVreN9r595I2azRrzMpQgd"></script>
	{% elsif yotpo_widget == 'reviews' %}
		<div class="yotpo-widget-instance" data-yotpo-instance-id="851066" data-yotpo-product-id="{{product.id}}" data-yotpo-name="{{ product.title | escape }}" data-yotpo-url="{{ shop.url }}{{ product.url }}" data-yotpo-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-yotpo-description="{{ product.description | escape }}"></div>
    {% elsif yotpo_widget == 'pdp_star_rating' %}
		<div id= "yotpo-pdp-stars">
			<div class="yotpo-widget-instance" data-yotpo-instance-id="851116" data-yotpo-product-id="{{product.id}}" data-yotpo-cart-product-id="{{item.product.id}}" data-yotpo-section-id="{{template.name}}"></div>
		</div>
    {% elsif yotpo_widget == 'category_star_rating' %}
          <div id="yotpo-category-stars">
              <div class="yotpo-widget-instance" data-yotpo-instance-id="851116" data-yotpo-product-id="{{product.id}}" data-yotpo-cart-product-id="{{item.product.id}}" data-yotpo-section-id="collection"></div>
          </div>
    {% else %}
  {% endif %}
<!-- end | snippets > yotpo-reviews.liquid -->