<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.3 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <div class="rte">
    <div id="pr-write"></div>
  </div>
</div>



<script>// <![CDATA[

  var url_string = window.location.href; 
  var url = new URL(url_string);
  var pr_merchant_id = url.searchParams.get("pr_merchant_id");
  var pr_merchant_group_id = url.searchParams.get("pr_merchant_group_id");


  window.pwr = window.pwr || function () {
    (pwr.q = pwr.q || []).push(arguments); 
  };
   pwr("render", {
    api_key: '76a29117-f53a-4a2c-b341-b715b976ec82',
    locale: 'en_US',
    merchant_group_id: '49888431',
    merchant_id: '467303409',
    on_submit:function(config, data){
         window.scrollTo(0,0); 
     },
    components: {
      Write: 'pr-write'
    }
  });
// ]]></script>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
