{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}
{{ 'custom-collection-banner.scss.css' | asset_url | stylesheet_tag }}
{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}
{%- style -%}
  .collection-hero--with-image::after {
    {% unless collection.metafields.global.hide_title %}
    opacity: 0!important;
    {% else %}
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }}!important;
    {% endunless %}
  }
{%- endstyle -%}

<div class="collection-hero{% if section.settings.show_collection_image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient  original-banner-height--{{collection.metafields.global.display_full_banner_image}}">
  <div class="collection-hero__inner page-width">
    {% unless collection.metafields.global.hide_title %}
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title h0 uppercase">
        {% if collection.metafields.global.header_banner_logo != blank %}
          <img class="collection-hero__icon" src="{{collection.metafields.global.header_banner_logo | img_url: '186x' }}" alt="collection hero icon" loading="lazy" >
        {% endif %}
        <span>{{-  collection.metafields.global.header_banner_title | default: collection.title | escape -}}</span>
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.metafields.global.header_banner_subtext | metafield_tag | default: collection.description }}</div>
      {%- endif -%}
    </div>
    {% endunless %}
    

    {%- if section.settings.show_collection_image -%}
      <div class="collection-hero__image-container media gradient">
        {% assign image = collection.metafields.global.header_banner_image | default: collection.image %}
        {% if image == blank %}
          {% assign image = section.settings.image %}
        {% endif %}
        <img
          class="small-hide medium-hide"
          src="{{ image | image_url: width: 2048 }}"
          alt="{{collection.title}}"
          loading="lazy" 
          width="{{ image.width }}"
          height="{{ image.height }}"
        >
        {% assign mobile_image = collection.metafields.global.mobile_header_banner_image | default: collection.image %}
        {% if mobile_image == blank %}
          {% assign mobile_image = section.settings.image %}
        {% endif %}
        <img
          class="large-up-hide"
          src="{{ mobile_image | image_url: width: 750 }}"
          alt="{{collection.title}}"
          loading="lazy"
          width="{{ mobile_image.width }}"
          height="{{ mobile_image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ]
}
{% endschema %}
