{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{{ 'custom-video.scss.css' | asset_url | stylesheet_tag }}

{% assign cover_mobile_image = section.settings.cover_mobile_image | default: section.settings.cover_image %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding .video-section__media.deferred-media {
    padding-bottom: {{ 1 | divided_by: section.settings.cover_mobile_image.aspect_ratio | times: 100 }}%!important;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }}-padding .video-section__media.deferred-media {
      padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%!important;
    }
  }
{%- endstyle -%}

<div data-section-type="video" class="color-{{ section.settings.color_scheme }} gradient {{section.settings.display}}">
  <div class="video-section isolate {{section.settings.section_width}} mobile-full-width--{{section.settings.mobile_full_width}} section-{{ section.id }}-padding">
    {%- unless section.settings.heading == blank -%}
      <div class="title-wrapper title-wrapper--no-top-margin">
        <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
      </div>
    {%- endunless -%}
    <noscript>
      <div
        class="video-section__media"
      >
        <a
          href="{{ section.settings.video_url }}"
          class="video-section__poster media media--transparent media--landscape{% if section.settings.cover_image == blank %} video-section__placeholder{% endif %}"
        >
          {%- if section.settings.cover_image != blank -%}
            {%- capture sizes -%}
              {% if section.settings.full_width -%}
                100vw
              {%- else -%}
                (min-width: {{ settings.page_width }}px) 2048px, (min-width: 750px)
                calc(100vw - 10rem), 100vw
              {%- endif %}
            {%- endcapture -%}
            {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
            {{
              section.settings.cover_image
              | image_url: width: 3840
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                alt: alt
            }}
          {%- else -%}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
        </a>
      </div>
    </noscript>
    <deferred-media
      class="video-section__media deferred-media no-js-hidden gradient global-media-settings global-media-settings--full-width"
      data-media-id="{{ section.settings.video_url.id }}"
    >
      <button
        id="Deferred-Poster-Modal-{{ section.settings.video_url.id }}"
        class="video-section__poster media deferred-media__poster media--landscape"
        type="button"
        aria-label="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
      >
        {%- if section.settings.cover_image != blank -%}
          {%- capture sizes -%}
            {% if section.settings.full_width -%}
              100vw
            {%- else -%}
              (min-width: {{ settings.page_width }}px) 2048px, (min-width: 750px)
              calc(100vw - 10rem), 100vw
            {%- endif %}
          {%- endcapture -%}
          {%- assign alt = 'sections.video.load_video' | t: description: section.settings.description | escape -%}
          {{
            section.settings.cover_image
            | image_url: width: 3840
            | image_tag: loading: 'lazy', sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt, class: 'small-hide'
          }}
          {{
            cover_mobile_image
            | image_url: width: 3840
            | image_tag: loading: 'lazy', sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt, class: 'medium-hide large-up-hide'
          }}
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        <div class="content">
          <span class="deferred-media__poster-button motion-reduce">
            {%- render 'icon-play' -%}
          </span>
          {% if section.settings.title_position == 'overlay' %}
            {% for block in section.blocks %}
              <div class="text-content {% if section.settings.full_width == false  %}page-width{% endif %} color-{{section.settings.caption_color_scheme}} ">
                <div class="info {% if section.settings.full_width %}page-width{% endif %}">
                  <div class="title-wrapper-with-link">
                    <div class="title">
                      <p class="caption">{{block.settings.caption}}</p>
                      <h2>{{block.settings.title}}</h2>
                    </div>
                    {%- if block.settings.button_label != blank -%}
                        <a
                          {% if block.settings.button_link == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ block.settings.button_link }}"
                          {% endif %}
                          class="button button--{{ section.settings.button_style }}"
                        >
                          {{ block.settings.button_label | escape }}
                        </a>
                      {%- endif -%}
                  </div>
                </div>
              </div>
            {% endfor %}
            {% endif %}
        </div>
        

      </button>
      <template>
        {%- if section.settings.video_url.type == 'youtube' -%}
          <iframe
            src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1"
            class="js-youtube"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- else -%}
          <iframe
            src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}"
            class="js-vimeo"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- endif -%}
      </template>
    </deferred-media>
    {% if section.settings.title_position == 'bottom' %}
    {% for block in section.blocks %}
      <div class="text-content {% if section.settings.full_width == false  %}page-width{% endif %} color-{{section.settings.caption_color_scheme}} ">
        <div class="info {% if section.settings.full_width %}page-width{% endif %}">
          <div class="title-wrapper-with-link">
            <div class="title">
              <p class="caption">{{block.settings.caption}}</p>
              <h2>{{block.settings.title}}</h2>
            </div>
            {%- if block.settings.button_label != blank -%}
                <a
                  {% if block.settings.button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link }}"
                  {% endif %}
                  class="button button--{{ section.settings.button_style }}"
                >
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}
    
  </div>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "image_picker",
      "id": "cover_mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "placeholder": "t:sections.video.settings.video_url.placeholder",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "default": "page-width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "page-width page-width--narrow",
          "label": "Narrow width"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "mobile_full_width",
      "label": "Mobile full width"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "caption_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "Caption color"
    },
    {
      "type": "header",
      "content": "content"
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "Title position",
      "options": [
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "overlay",
          "label": "Overlay"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "select",
      "id": "display",
      "label": "Display",
      "default": "all",
      "options": [
        {
          "value": "small-hide",
          "label": "Desktop only"
        },
        {
          "value": "medium-hide large-up-hide",
          "label": "Mobile only"
        },
        {
          "value": "all",
          "label": "All"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
